.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

/* Applies to all scrollbars on the page */
::-webkit-scrollbar {
    width: 12px; /* Width of the entire scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #1e1e1e; /* Dark background for the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #555; /* Dark color for the scrollbar handle */
    border-radius: 10px; /* Roundness of the scrollbar handle */
    border: 3px solid #1e1e1e; /* Adds some space around the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888; /* Lighter color when hovering over the scrollbar handle */
}

/* Firefox specific */
html {
    scrollbar-width: thin; /* Thin scrollbar width */
    scrollbar-color: #555 #1e1e1e; /* Handle color and track color */
}
